@import "../../styles/settings.scss";

.body {
  background-color: $lightGray;
}

.noFavorites {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

.favSong {
  display: flex;

  button {
    border: none;
    background-color: transparent;
  }
}
