@import "../../styles/settings.scss";

.body {
  background-color: $lightGray;
  height: 550px;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}
.video {
  margin: 10px;
}
