.home {
  display: flex;
  flex-wrap: wrap;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(233, 234, 247);
}
.first {
  width: 72%;
}
.popular {
  height: 250px;
}
.categories {
  height: 300px;
  p {
    padding-left: 20px;
    font-weight: 700;
  }
}
.categoryBoxes {
  display: flex;
  justify-content: space-around;
}
.discover {
  background-color: aquamarine;
  height: 580px;
  width: 28%;
}
